<div class="container mx-auto px-4 py-8">
  <div class="flex justify-end mb-4 space-x-2">
    <button
      class="btn btn-primary mr-2"
      (click)="setFilter('day')">Filtrar por Día</button>
    <button
      class="btn btn-primary"
      (click)="setFilter('month')">Filtrar por Mes</button>
  </div>

  <div *ngIf="!loading; else loadingTemplate">
    <div class="relative h-96">
      <canvas baseChart
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"></canvas>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <div class="flex justify-center items-center h-96">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
