<!-- Modal content -->
<div class="relative bg-white rounded-lg shadow dark:bg-gray-500">
  <!-- Modal header -->
  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-500">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Registrar Tinte
    </h3>

    <button type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            matDialogClose>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>

  <!-- Modal body -->
  <form class="p-4 md:p-5" [formGroup]="inventoryForm" (ngSubmit)="registerDyeInventory()">

    <div class="grid gap-4 mb-4 grid-cols-2">

      <!-- Nombre -->
      <div class="col-span-2">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
        <input type="text"
               id="name"
               formControlName="name"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               placeholder="Escribe el nombre del producto"
               [ngClass]="{'border-red-500 bg-red-50 text-red-900': inventoryForm.get('name')?.invalid && (inventoryForm.get('name')?.dirty || inventoryForm.get('name')?.touched)}">
        <div *ngIf="inventoryForm.get('name')?.invalid && (inventoryForm.get('name')?.dirty || inventoryForm.get('name')?.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span *ngIf="inventoryForm.get('name')?.errors?.['required']">El nombre es requerido.</span>
        </div>
      </div>

      <!-- Peso -->
      <div class="col-span-2 sm:col-span-1">
        <label for="weigth" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Peso</label>
        <input type="number"
               id="weigth"
               formControlName="weigth"
               step="0.01"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
               placeholder="Ejemplo: 1999 Kg"
               [ngClass]="{'border-red-500 bg-red-50 text-red-900': inventoryForm.get('weigth')?.invalid && (inventoryForm.get('weigth')?.dirty || inventoryForm.get('weigth')?.touched)}">
        <div *ngIf="inventoryForm.get('weigth')?.invalid && (inventoryForm.get('weigth')?.dirty || inventoryForm.get('weigth')?.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span *ngIf="inventoryForm.get('weigth')?.errors?.['required']">El peso es requerido.</span>
          <span *ngIf="inventoryForm.get('weigth')?.errors?.['min']">El peso debe ser mayor a 0.</span>
        </div>
      </div>

      <!-- Tipo de Tinte -->
      <div class="col-span-2 sm:col-span-1">
        <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo De Tinte</label>
        <select id="type"
                formControlName="type"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                [ngClass]="{'border-red-500 bg-red-50 text-red-900': inventoryForm.get('type')?.invalid && (inventoryForm.get('type')?.dirty || inventoryForm.get('type')?.touched)}">
          <option selected="" disabled>Seleccionar Tipo</option>
          <option value="10">Colorante</option>
          <option value="20">Envase</option>
          <option value="30">Químico</option>
        </select>
        <div *ngIf="inventoryForm.get('type')?.invalid && (inventoryForm.get('type')?.dirty || inventoryForm.get('type')?.touched)" class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span *ngIf="inventoryForm.get('type')?.errors?.['required']">El tipo es requerido.</span>
        </div>
      </div>

      <!-- Descripción (No requerida) -->
      <div class="col-span-2">
        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción Tinte</label>
        <textarea id="description"
                  rows="4"
                  formControlName="description"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Escribe la descripción del producto aquí"></textarea>
      </div>

    </div>

    <div class="p-4 bg-white dark:bg-gray-700">
      <button type="submit"
              class="w-full text-white inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Registrar
      </button>
    </div>
  </form>
</div>
