
  <!-- Modal content -->
  <div class="relative bg-white rounded-lg shadow dark:bg-gray-500">
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-500">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Editar Receta</h3>
      <button type="button" class="text-gray-400 bg-white hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <form [formGroup]="form" class="p-4 md:p-5" (ngSubmit)="onSubmit()">
      <div class="grid gap-4 mb-4 grid-cols-2">
        <div class="col-span-2">
          <label  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
          <input formControlName="name" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
        </div>

        <div class="col-span-2">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingredientes</label>

          <div formArrayName="ingredients">
            <div *ngFor="let ingredient of ingredients.controls; let i = index ;let isLast = last; " [formGroupName]="i">
              <div class="flex space-x-4 items-center">
                <input
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  formControlName="name" type="text" placeholder="Nombre">
                <input
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  formControlName="weight" type="number" placeholder="Peso">
                <input
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  formControlName="note" type="text" placeholder="Notas">
                <button
                  *ngIf="(ingredients.length > 1 || (ingredients.length === 1 && i === 0)) && (!isLast || ingredients.length > 1)"
                  type="button"
                  class="text-red-400 bg-transparent hover:bg-gray-200 hover:text-red-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                  mat-icon-button (click)="removeIngredient(i)">
                  <mat-icon>remove_circle</mat-icon>
                </button>

              </div>
              <button *ngIf="isLast" type="button"
                      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                      mat-icon-button (click)="addIngredient()">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>

          </div>
        </div>
      </div>
      <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Guardar</button>
    </form>
  </div>

