
<div class="w-full max-w-4xl mx-auto p-4">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
      <!-- Gráfico de líneas -->
      <canvas baseChart
              class="block w-full h-80"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
      </canvas>
    </div>
  </div>
</div>

<div class="w-full max-w-4xl mx-auto p-4 mt-8">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
      <!-- Gráfico de barras -->
      <canvas baseChart
              class="block w-full h-80"
              [type]="'bar'"
              [data]="barChartData"
              [options]="barChartOptions"
              [legend]="barChartLegend">
      </canvas>
    </div>
  </div>
</div>

<div class="w-full max-w-4xl mx-auto p-4 mt-8">
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
      <!-- Gráfico de dona -->
      <canvas baseChart
              class="block w-full h-80"
              [type]="'doughnut'"
              [data]="doughnutChartData"
              [options]="doughnutChartOptions"
              [legend]="doughnutChartLegend">
      </canvas>
    </div>
  </div>
</div>
