<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"> <!-- Corregido para que se abra en PC y se cierre en móviles -->

    <mat-toolbar>Menu</mat-toolbar>

    <div *ngIf="role_id == 1 ">
      <mat-nav-list *ngFor="let data of navData">
        <mat-list-item [routerLink]="[data.routeLink]" >
          <mat-icon matListIcon>{{data.icon}}</mat-icon>
          <a  (click)="handleItemClick()">
            {{data.label}}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div *ngIf="role_id == 2 ">
      <mat-nav-list *ngFor="let data of navDataOp">
        <mat-list-item [routerLink]="[data.routeLink]" >
          <mat-icon matListIcon>{{data.icon}}</mat-icon>
          <a  (click)="handleItemClick()">
            {{data.label}}
          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <div class="center-logout">
      <button mat-raised-button (click)="logOut()" color="primary">Cerrar Sesion</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>




    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">
          <ng-container *ngIf="isHandset$ | async; else desktopIcon">menu</ng-container>
          <ng-template #desktopIcon>menu_open</ng-template>
        </mat-icon>
      </button>

      <span *ngIf="isHandset$ | async; else showText"> </span>
      <ng-template #showText>
        <span>Textiles Copacabana</span>
      </ng-template>

      <span class="flex-spacer"></span>
      <img ngSrc="assets/cropped-logowhite-150x76.png" alt="Logo" class="logo-img" height="76" width="150"/>

    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
