
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-orange {
  background-color: #FFD2BB;
}

.bg-green {
  background-color: #C9F7E8;
}

.bg-yellow {
  background-color: #FFF1D6;
}

.border {
  border: 1px solid #d1d5db;
}
.hidden {
  display: none;
}

.block {
  display: block;
}
