<!-- Main modal -->
<div class="fixed inset-0 flex items-center justify-center z-50 p-4 sm:p-6 lg:p-8 bg-black bg-opacity-50">
  <!-- Modal content -->
  <div class="relative w-full max-w-3xl bg-white rounded-lg shadow dark:bg-gray-800">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-700">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Usuario
      </h3>
      <button matDialogClose type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-700 dark:hover:text-white" data-modal-toggle="crypto-modal">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <div class="p-4 md:p-5">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-normal text-gray-500 dark:text-gray-400 mb-1">Nombre de Usuario</label>
          <a class="block p-3 text-base text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600">{{ data.username }}</a>
        </div>
        <div>
          <label class="block text-sm font-normal text-gray-500 dark:text-gray-400 mb-1">Rol</label>
          <a class="block p-3 text-base text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600">{{ data.role }}</a>
        </div>
        <div>
          <label class="block text-sm font-normal text-gray-500 dark:text-gray-400 mb-1">Correo Electrónico</label>
          <a class="block p-3 text-base text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600">{{ data.email }}</a>
        </div>
        <div>
          <label class="block text-sm font-normal text-gray-500 dark:text-gray-400 mb-1">Nombres</label>
          <a class="block p-3 text-base text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600">{{ data.name }}</a>
        </div>
        <div>
          <label class="block text-sm font-normal text-gray-500 dark:text-gray-400 mb-1">Apellidos</label>
          <a class="block p-3 text-base text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600">{{ data.lastName }}</a>
        </div>
        <div>
          <label class="block text-sm font-normal text-gray-500 dark:text-gray-400 mb-1">Número de Teléfono</label>
          <a class="block p-3 text-base text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600">{{ data.numberPhone }}</a>
        </div>
        <div>
          <label class="block text-sm font-normal text-gray-500 dark:text-gray-400 mb-1">Carnet de Identidad</label>
          <a class="block p-3 text-base text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600">{{ data.ci }}</a>
        </div>
      </div>

    </div>
  </div>
</div>
