<div class="relative bg-white rounded-lg shadow dark:bg-gray-500">
  <!-- Modal header -->
  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-500">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Registrar Receta
    </h3>
    <button type="button"
            matDialogClose
            class="text-gray-400 bg-white hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>

  <form class="p-4 md:p-5" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="grid gap-4 mb-4 grid-cols-2">

      <!-- Nombre Receta -->
      <div class="col-span-2">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Receta</label>
        <input type="text" formControlName="name"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
        <div *ngIf="recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched" class="text-red-600 text-sm mt-1">
          <span *ngIf="recipeForm.get('name')?.errors?.['required']">El nombre es requerido.</span>
        </div>
      </div>

      <!-- Ingredientes Label -->
      <div class="col-span-2">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ingredientes</label>
      </div>

      <!-- Ingredientes Inputs -->
      <div class="col-span-2" *ngFor="let ingredient of ingredientGroups; let i = index; let isLast = last;" [formGroup]="ingredient">
        <div class="flex space-x-4 items-center">
          <label for="ingredient{{i}}"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ i + 1 }}</label>

          <!-- Nombre del Ingrediente -->
          <mat-form-field class="w-full">
            <input type="text" formControlName="name" matInput
                   [matAutocomplete]="auto" (ngModelChange)="onInputChange($event, i)">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredMaterials | async" [value]="option.name"
                          (onSelectionChange)="onSelectionChange(option, i)">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div *ngIf="ingredient.get('name')?.invalid && ingredient.get('name')?.touched" class="text-red-600 text-sm mt-1">
            <span *ngIf="ingredient.get('name')?.errors?.['required']">El nombre del ingrediente es requerido.</span>
          </div>

          <!-- Peso del Ingrediente -->
          <input type="number" formControlName="weight"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                 placeholder="Peso">
          <div *ngIf="ingredient.get('weight')?.invalid && ingredient.get('weight')?.touched" class="text-red-600 text-sm mt-1">
            <span *ngIf="ingredient.get('weight')?.errors?.['required']">El peso es requerido.</span>
            <span *ngIf="ingredient.get('weight')?.errors?.['min']">El peso debe ser mayor a 0.</span>
          </div>

          <!-- Notas del Ingrediente -->
          <input type="text" formControlName="note"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                 placeholder="Notas">

          <!-- Botón para remover ingrediente -->
          <button
            *ngIf="ingredients.length > 1"
            type="button"
            class="text-red-400 bg-transparent hover:bg-gray-200 hover:text-red-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
            mat-icon-button (click)="removeIngredient(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
        <!-- Botón para agregar ingrediente -->
        <button *ngIf="isLast" type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                mat-icon-button (click)="addIngredient()">
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </div>

    <!-- Botón para enviar el formulario -->
    <div class="p-4 bg-white dark:bg-gray-700">
      <button type="submit"
              class="w-full text-white inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Registrar
      </button>
    </div>
  </form>
</div>
