<!-- Modal content -->
<div class="relative w-full max-w-2xl mx-auto bg-white rounded-lg shadow dark:bg-gray-800">
  <!-- Modal header -->
  <div class="flex items-center justify-between p-4 border-b rounded-t dark:border-gray-700">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Item
    </h3>
    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-700 dark:hover:text-white" data-modal-toggle="crypto-modal">
      <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <!-- Modal body -->
  <div class="p-6 grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <label class="block text-sm font-medium text-gray-700 dark:text-gray-400">Nombre</label>
      <div class="mt-1 flex items-center p-3 bg-gray-50 dark:bg-gray-700 rounded-lg text-base text-gray-900 dark:text-white">
        {{ data.name }}
      </div>
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700 dark:text-gray-400">Tipo</label>
      <div class="mt-1 flex items-center p-3 bg-gray-50 dark:bg-gray-700 rounded-lg text-base text-gray-900 dark:text-white">
        {{ data.dyeType }}
      </div>
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700 dark:text-gray-400">Peso</label>
      <div class="mt-1 flex items-center p-3 bg-gray-50 dark:bg-gray-700 rounded-lg text-base text-gray-900 dark:text-white">
        {{ data.weight }}
      </div>
    </div>
    <div>
      <label class="block text-sm font-medium text-gray-700 dark:text-gray-400">Encargado</label>
      <div class="mt-1 flex items-center p-3 bg-gray-50 dark:bg-gray-700 rounded-lg text-base text-gray-900 dark:text-white">
        {{ data.encargado }}
      </div>
    </div>
  </div>
</div>
