<div>
  <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
      <div class="w-full md:w-1/2"></div>
      <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
        <button (click)="openDialogRegisterColor()" type="button" class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
          Añadir Color
        </button>
      </div>
    </div>

    <div class="pb-4 ml-4 bg-white dark:bg-gray-900">
      <label for="table-search" class="sr-only">Buscar Colores</label>
      <div class="relative mt-1">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <input type="text"
               id="table-search"
               class="form-control block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Buscar Colores"
               [(ngModel)]="searchUser">
      </div>
    </div>

    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-4 py-3">ID</th>
          <th scope="col" class="px-4 py-3">Nombre</th>
          <th scope="col" class="px-4 py-3">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-b dark:border-gray-700" *ngFor="let colors of getCurrentPageItems() | search: searchUser; let i = index" [ngClass]="{'bg-gray-100 dark:bg-gray-300': i % 2 === 0, 'bg-gray-100 dark:bg-gray-600': i % 2 !== 0}">
          <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ colors.color_id }}</th>
          <td class="px-4 py-3">{{ colors.name }}</td>
          <td class="px-4 py-3 flex items-center justify-center">
            <button mat-icon-button (click)="editColor(colors)">
              <mat-icon aria-hidden="false" aria-label="Example edit icon" fontIcon="mode_edit"></mat-icon>
            </button>
            <button mat-icon-button (click)="openDialogDeleteColor(colors, i)">
              <mat-icon aria-hidden="false" aria-label="Example delete icon" fontIcon="delete"></mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
  <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
    Mostrando
    <span class="font-semibold text-gray-900 dark:text-white">{{ calculateInitialIndex() + 1 }}</span>
    a
    <span class="font-semibold text-gray-900 dark:text-white">{{ calculateFinalIndex() > colorsData.length ? colorsData.length : calculateFinalIndex() }}</span>
    de
    <span class="font-semibold text-gray-900 dark:text-white">{{ colorsData.length }}</span>
  </span>
      <ul class="inline-flex items-stretch -space-x-px">
        <li>
          <a (click)="currentPage = currentPage > 1 ? currentPage - 1 : 1" class="flex items-center justify-center h-full py-2 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Anterior</span>
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </li>
        <ng-container *ngFor="let pageNumber of getVisiblePageNumbers()">
          <li *ngIf="pageNumber === '...'">
            <span class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 cursor-default">...</span>
          </li>
          <<li *ngIf="pageNumber !== '...'">
          <a (click)="currentPage = Number(pageNumber)"
             class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
             [class.bg-primary-50]="pageNumber === currentPage"
             [class.text-primary-600]="pageNumber === currentPage">
            {{ pageNumber }}
          </a>
        </li>

        </ng-container>
        <li>
          <a (click)="currentPage = currentPage < getTotalPages() ? currentPage + 1 : getTotalPages()" class="flex items-center justify-center h-full py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Siguiente</span>
            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M14.707 9.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 10l-2.293-2.293a1 1 0 011.414-1.414l4 4z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>
