<div class="relative overflow-x-auto p-6 bg-white shadow-md rounded-lg dark:bg-gray-800">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6 text-center">Orden # {{ data.order_id }}</h2>
  <div class="mb-6">
    <div class="flex items-center mb-2">
      <span class="text-sm font-semibold text-gray-900 dark:text-white mr-2">Cliente:</span>
      <span class="text-sm text-gray-700 dark:text-gray-300">{{ data.customer_name }}</span>
    </div>
    <div class="flex items-center mb-6">
      <span class="text-sm font-semibold text-gray-900 dark:text-white mr-2">Estado:</span>
      <span class="inline-block rounded-full text-white px-3 py-1 text-sm" [ngClass]="{
        'bg-yellow-500': data.order_status === 'En Proceso',
        'bg-green-500': data.order_status === 'Completado',
        'bg-orange-500': data.order_status === 'Pendiente'
      }">{{ data.order_status }}</span>
    </div>
  </div>
  <form [formGroup]="orderForm">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 rounded-s-lg">Nombre del Producto</th>
        <th scope="col" class="px-6 py-3">Cantidad</th>
        <th scope="col" class="px-6 py-3">Receta</th>
      </tr>
      </thead>
      <tbody formArrayName="products">
      <tr *ngFor="let product of products.controls; let i = index ; " [formGroupName]="i" class="bg-white dark:bg-gray-800">

        <td class="px-6 py-4">
          <mat-form-field appearance="outline">
            <input type="text" matInput formControlName="name">
          </mat-form-field>

        </td>
        <td class="px-6 py-4">
          <input matInput type="number" formControlName="quantity">
        </td>
        <td class="px-6 py-4">
          <mat-form-field appearance="outline">
            <input type="text" matInput formControlName="recipe" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option.recipe_name">
                {{ option.recipe_name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
